html {
  scroll-behavior: smooth;
}
body {
  font-family: "Manrope";
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
a,
p,
div {
  letter-spacing: -0.03%;
}
h1,
h2,
h3 {
  letter-spacing: -0.03em;
}
h1 {
  width: 956px;
  height: 120px;

  box-sizing: border-box;
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
}
.black__title-white {
  margin-top: 0;
  margin-bottom: 35px;
  padding-left: 2px;
  color: #ffffff;
}
h2 {
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 151px;
  width: 1150px;

  font-size: 18px;
  letter-spacing: -0.03em;
  line-height: 25px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  box-sizing: border-box;
}

img {
  width: 150px;
}

.nav__list {
  display: flex;
  gap: 60px;
}

.header__inner {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  padding: 34px 0 70px 0;
}

.intro__pic {
  position: relative;
  margin: 0 auto;
  margin-top: 30px;
  width: 1150px;
  height: 500px;

  background-image: url(../resourses/interior_1.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.intro__text {
  position: absolute;
  bottom: 40px;
  left: 40px;
  width: 430px;

  font-size: 20px;
  letter-spacing: -0.03em;
  line-height: 27px;
  font-weight: 400;
  text-align: left;
  color: rgb(219, 219, 219);
}

.about__title {
  width: 1150px;
  margin-top: 30px;
}

p.about__text {
  width: 1051px;

  font-size: 45px;
  line-height: 61.47px;
  font-weight: 400;
  text-align: left;
  letter-spacing: -0.03em;
}

.about__btn {
  margin-top: 26px;
  width: 255px;
  height: 67px;
  display: block;
  border-radius: 5px;
  cursor: pointer;

  font-size: 20px;
  text-align: center;
  font-weight: 400;
  /* line-height: 27.32px; */
  line-height: 67px;
  text-decoration: none;
  letter-spacing: -0.03em;
  color: white;
  background-color: rgba(173, 24, 24, 1);
}

.about__btn:hover {
  background-color: rgb(255, 90, 90);
}

.project {
  margin-bottom: 89.5px;
}
.projects {
  margin-bottom: 150px;
}
.project__img {
  margin: 0 auto;
  width: 1150px;
  height: 450px;
}

.project__title {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 1150px;
  height: 41px;

  font-size: 30px;
  font-weight: 400;
  line-height: 40.98px;
  letter-spacing: -0.03em;
  text-align: left;
}

.project__link {
  margin: 0 auto;
  padding: 0;
  width: 128px;
  height: 27px;
  border: none;
  cursor: pointer;

  font-family: "Manrope";
  font-size: 20px;
  font-weight: 400;
  line-height: 27.32px;
  letter-spacing: -0.03em;
  text-align: left;
  text-decoration: none;
  background: none;
  color: rgba(173, 24, 24, 1);
}
.project__link:hover {
  color: rgb(255, 90, 90);
}

.projects__btn {
  padding: 56px 15px;
  width: 100%;
  display: block;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;

  font-family: "Manrope";
  font-size: 30px;
  font-weight: 400;
  line-height: 40.98px;
  letter-spacing: -0.03em;
  text-align: center;
  color: rgba(173, 24, 24, 1);
  background-color: #ffffff;
  border: 1px solid rgba(173, 24, 24, 1);
}

.projects__btn:hover {
  background-color: #ad1818;
  color: #ffffff;
}

.services {
  padding-top: 150px;
  padding-bottom: 90px;
  background-color: #121212;
  color: #ffffff;
}

.container {
  max-width: 1180px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

.black__img {
  margin: 0 auto;
  width: 1150px;
}
.services_price {
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 60px;
  padding-left: 3px;
  width: 1150px;

  font-family: "Manrope";
  font-size: 30px;
  font-weight: 400;
  line-height: 40.98px;
  letter-spacing: -0.03em;
  text-align: left;
  color: #ffffff;
}

.section:nth-last-child(1) {
  margin-bottom: 0px;
}

.nav-section {
  min-width: 1150px;
  margin-bottom: 37px;
}
.nav-container {
  width: 1150px;
  margin: 0 auto;

  padding-top: 32.82px;
  padding-bottom: 33px;
}
.logo__link {
  display: inline-block;
  vertical-align: middle;
}
.logo {
  display: block;
  width: 126.89px;
  /* height: 21.42px; */
}
.nav {
  display: inline-block;
  vertical-align: middle;
}

.nav__link {
  display: inline-block;
  text-decoration: none;

  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -0.03em;

  font-size: 18px;
  font-weight: 400;

  color: rgba(18, 18, 18, 1);
}

.nav__link:hover,
.nav__link_active {
  text-decoration: underline;
  opacity: 50%;
}

.example {
  height: 717px;
  width: 100%;
  background-image: url("/resourses/example-interior.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 80%;
}

.example__box {
  height: 100%;
  position: relative;
}

.example__text {
  position: absolute;
  bottom: 60px;
  width: 443px;
  height: 82px;
  font-family: "Manrope";
  font-size: 30px;
  font-weight: 400;
  line-height: 40.98px;
  letter-spacing: -0.03em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

.contacts__title {
  position: relative;
}

.contacts {
  margin-top: 186px;
  margin-bottom: 150px;
}

.contacts__title::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 38px;
  width: 13px;
  height: 22px;
  background-image: url("/resourses/svg_phone.svg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #121212;
}

.contacts__data {
  margin-bottom: 30px;
}
.contacts__number {
  display: block;
  margin-bottom: 30px;
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -0.03em;
  text-align: left;
  text-decoration: none;
  color: rgba(18, 18, 18, 1);
}

.contacts__number:hover {
  opacity: 50%;
}

.contacts__email {
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -0.03em;
  text-align: left;
  text-decoration: none;
  color: rgba(18, 18, 18, 1);
  opacity: 50%;
  box-sizing: border-box;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

.contacts_email:hover {
  opacity: 30%;
}

.footer {
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: #121212;
  color: #ffffff;
}

.footer__title {
  margin-top: 87px;
  text-align: center;
  vertical-align: bottom;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
  opacity: 0.5;
  letter-spacing: -0.03em;
}

.footernav {
  width: 473px;
  color: #ffffff;
  margin: 0 auto;
}

.footernav__link {
  margin-left: 55px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  letter-spacing: -0.03em;

  display: inline-block;

  text-transform: uppercase;
}
.footernav__link:first-child {
  margin: 0;
}

.footernav__link:hover,
.footernav__link_active {
  text-decoration: underline;
  opacity: 50%;
}
