@import "styles/header.css";
@import "styles/intro.css";
@import "styles/about.css";
@import "styles/services.css";
@import "styles/example.css";
@import "styles/projects.css";
@import "styles/contacts.css";
@import "styles/footer.css";

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Manrope";
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
a,
p,
div {
  letter-spacing: -0.03%;
}
h1,
h2,
h3 {
  letter-spacing: -0.03em;
}
h1 {
  width: 956px;
  box-sizing: border-box;
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
}

h2 {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;

  text-transform: uppercase;
  box-sizing: border-box;
}

.container {
  max-width: 1180px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}
